<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__nav__ul-links">
            <li><a class="footer__nav__ul-links__item" href="#">Sobre nosotros</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Blog</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Servicios</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Contacto</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Monumentos</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Atracciones</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Eventos</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Galería</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Turismo</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Historia</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Cultura</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Cómo llegar</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Aviso legal</a></li>
            <li><a class="footer__nav__ul-links__item" href="#">Política de Cookies</a></li>
        </ul>
        <ul class="footer__nav__ul-icons">
            <a class="footer__nav__ul-icons__item" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="footer__nav__ul-icons__item" href="#"><i class="fab fa-x"></i></a>
            <a class="footer__nav__ul-icons__item" href="#"><i class="fab fa-instagram"></i></a>
            <a class="footer__nav__ul-icons__item" href="#"><i class="fab fa-whatsapp"></i></a>
        </ul>
    </nav>
    <div class="footer__copyright">
        © 2024 Francisco José Coto Pacheco
    </div>
    <div class="footer__copyright footer__copyright--italic">
        Esta página ha sido realizada con fines educativos
    </div>
</footer>