<header class="header">
    <nav class="header__nav">
        <picture>
            <source srcset="./assets/images/logo-reduced.jpg?as=webp&width=50" type="image/webp" />
            <img src="./assets/images/logo-reduced.jpg" alt="Universitat Oberta de Catalunya"
                class="header__nav__img" />
        </picture>
        <ul class="header__nav__ul">
            <li><a class="header__nav__ul__item header__nav__ul__item--active" href="#">Inicio</a></li>
            <li><a class="header__nav__ul__item" href="#">Acerca de</a></li>
            <li><a class="header__nav__ul__item" href="#">Monumentos</a></li>
            <li><a class="header__nav__ul__item" href="#atracciones">Atracciones</a></li>
            <li><a class="header__nav__ul__item" href="#">Eventos</a></li>
            <li><a class="header__nav__ul__item" href="#contacto">Contacto</a></li>
        </ul>
        <button class="header__nav__buttons" aria-label="Abrir menú">
            <i class="header__nav__buttons__login header__nav__buttons--white fas fa-user fa-2x"></i>
            <div class="header__nav__buttons__login header__nav__buttons--enable">Iniciar sesión</div>
            <i class="header__nav__buttons__menu header__nav__buttons--white fas fa-bars fa-2x"></i>
            <i class="header__nav__buttons__close header__nav__buttons--white fas fa-times fa-2x"></i>
        </button>
    </nav>
</header>